		/*
		-Variables
		-Efectos Keyframes
		-General
		-Header
		-Section
		-Footer
		*/

	


		body {
			background: #E6E2E2;
		}

		div.cuerpo {
			font-family: 'Roboto Condensed', sans-serif;
			transition: all 500ms ease;
			margin: 5% 0;
		}

		* {
			-webkit-user-select: none;
			-moz-user-select: none;
			-khtml-user-select: none;
			-ms-user-select:none;
		}

		/*
		Variables
		*/

		$colorPri: linear-gradient(to right,  #1D2C46 ,  #243b55 ); /*Azul oscuro gradient*/
		$colorSec: #1DE708; /*Verde*/
		$colorTer:#FFC600; /*Naranja*/
		$colorCuarto: #4A5459; /*Gris*/
		$colorTrans: rgba(0,0,0,0.4); /*Transparente*/
		$priAnimacion: cubic-bezier(0.680, -0.550, 0.265, 1.550);
		$secAnimacion: cubic-bezier(0.250, 0.460, 0.450, 0.940);




		/*
		Efectos keyframes
		*/

		@-webkit-keyframes fade {
			from {
				-webkit-transform: translate(0px,150px);
				transform: translate(0px,150px);
				opacity: 0.7;
			}

			to {
				-webkit-transform: translate(0px,0);
				transform: translate(0px,0);;
				opacity: 1;
			}
		}

		@keyframes fade {
			from {
				-webkit-transform: translate(0px,150px);
				transform: translate(0px,150px);
				opacity: 0.7;
			}

			to {
				-webkit-transform: translate(0px,0);
				transform: translate(0px,0);;
				opacity: 1;
			}
		}

		@-webkit-keyframes animation {
			0% {
				-webkit-transform: scale(0.9,0.9);
				transform: scale(0.9,0.9);
			}

			100% {
				-webkit-transform: scale(1,1);
				transform: scale(1,1);
			}
		}

		@keyframes animation {
			0% {
				-webkit-transform: scale(0.9,0.9);
				transform: scale(0.9,0.9);
			}

			100% {
				-webkit-transform: scale(1,1);
				transform: scale(1,1);
			}
		}

		article {
			> * {
				-webkit-animation-duration: 2s;
				animation-duration: 2s;
				-webkit-animation-timing-function:$priAnimacion;
				animation-timing-function:$priAnimacion;
			}
		}

		div.bienvenida {
			-webkit-animation-name: animation;
			animation-name: animation;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
			animation-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
		}

		/*
		Menu
		*/

		div.menu {
			top: 0;
			height: 100%;
			position: fixed;
			right: -50%;
			width: 40%;
			z-index: 100000000000000;
			transition: all 600ms $priAnimacion;
			box-shadow: -5px 1px 50px 5px #3B3B3B;
			background: $colorPri;
			padding: 0 5%;
			display: flex;
			flex-direction: column;
			color: white;
			overflow-x:hidden;
			> div {
				margin: 5% 0;
				position: relative;
				form {
					position: relative;
					input {
						border:0px solid;
						width: 50%;
						height: 40px;
					}
				}
			}

		}

		div.cerrar {
			right: 1%;
			img {
					width: 10%;
					-webkit-transition: all 300ms $priAnimacion;
					-o-transition: all 300ms $priAnimacion;
					transition: all 300ms $priAnimacion;
					&:hover {
						cursor: pointer;
					}
				}
		}



		
		
		
		/*
		Header
		*/

		div.header {
			position: fixed;
			top: 10px;
			background: $colorPri;
			z-index: 1000000;
			font-family: 'Roboto Condensed', sans-serif;
			outline: 1px solid $colorSec;
			-webkit-transition: all 600ms $priAnimacion;
			-o-transition: all 600ms $priAnimacion;
			transition: all 600ms $priAnimacion;
			display: inline-flex;
			justify-content: space-around;
			align-items: center;
			padding: 1% 0;
			> div {
				margin: 10px 0;
			}

			div.logo {
				-webkit-transition:all 600ms $priAnimacion;
				-o-transition:all 600ms $priAnimacion;
				transition:all 600ms $priAnimacion;
				> * {

				}
				a {
					display: flex;
					justify-content: center;
					font-family: 'Bangers', cursive;
					color: $colorSec;
					font-size: 300%;
					text-decoration: none;
					transition: all 500ms ease;
				}
				img {
					width: 5%;
					margin: 0 10px;
				}
			}

			

			> div.loggin {
				p {
					position: absolute;
					top: 0;
					left: 100%;
					color: $colorSec;
					text-align: center;
					display: flex;
					align-self: center;
					font-size: 12px;
				}
			}

			> div{
				position: relative;
				p {
					position: absolute;
					top: -20px;
					left: 5px;
					color: $colorTer;
					text-align: center;
					display: flex;
					align-self: center;
					font-size: 12px;
				}
				img {
					width: 60%;
					-webkit-transition: all 300ms $priAnimacion;
					-o-transition: all 300ms $priAnimacion;
					transition: all 300ms $priAnimacion;
					&:hover {
						-webkit-transform:scale(1.5,1.5);
						-ms-transform:scale(1.5,1.5);
						transform:scale(1.5,1.5);
						cursor: pointer;
					}
				}
			}	
		}


		
		/*
		Section
		*/

section {
	position: relative;
	z-index: 1;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	margin-top: 300px;
	/*
		Cookies
	*/

	div.condiciones {
		position: fixed;
		display: flex;
		justify-content: space-around;
		background: $colorTrans;
		align-content: center;
		bottom: 0;
		left: 0;
		color: white;
		align-items: baseline;

			font-size: 70%;
		p {
		}
		a {
			text-decoration: none;
			color: white;
		}
	}

	article {
		display: flex;
		flex-direction: column;
		> * {
			margin: 30px 0;
		}


		/*
		Bienvenida
		*/

		div.bienvenida{
			margin: 20px 0;
			position: relative;
			width: 80%;
			margin: 0 auto 10% auto;
			> img {
				width: 100%;
			}
			> p {
				position: absolute;
				bottom: 20%;
				left: 0;
				margin: 0 auto;		
				outline: 2px solid white;
				margin-top: 30px;
				text-align: center;
				font-size: 100%;
				color: white;
				text-shadow: 1px 1px #191717;
				padding: 10px 2px;
				opacity: 1;
				background: rgba(0,0,0,0.6);
				-webkit-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
				span {
					font-size: 25px;
					text-shadow: 2px 2px #191717;
				}
				&:hover {
					opacity: 1;
					outline: 2px solid $colorSec;
					background: rgba(0,0,0,0.8);
					&:first-line {
						color:$colorSec;
					}
				}
			}

		}


		div.titulo {
			display: flex;
			align-items: baseline;
			font-size: 100%;
			h1 {
				color: #2E2E2E;
				padding: 10px;
				display: block;
				background: #CF3131;
				color: white;
				margin: 0;
				transition: all 200ms ease;
				&:hover {
					background:transparent;
					color: #2E2E2E;
					outline: 2px solid #CF3131;
				}
			}
			p {
				font-size: 20px;
				color: #2E2E2E;
				padding: 10px;
				display: block;
				background: #22B2BF;
				color: white;
			}
		}

		div.notas {
			> p {
				outline: 0px solid;
				margin-top: 30px;
				text-align: center;
				font-size: 12px;
				color: white;
				text-shadow: 1px 1px #191717;
				padding: 10px 2px;
				background: rgba(0,0,0,0.5);
				-webkit-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
				span {
					font-size: 25px;
					text-shadow: 2px 2px #191717;
				}
				&:hover {
					outline: 2px solid $colorSec;
					background: rgba(0,0,0,0.8);
				}
			}
		}

		/*
		Contenedor Carrusel
		*/

		div.contenedorCarrusel {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			justify-content: space-around;
			> div{
				display: -webkit-inline-box;
				display: -webkit-inline-flex;
				display: -ms-inline-flexbox;
				display: inline-flex;
				&.carrusel {
					width: 80%;
					overflow: hidden;
					padding: 20px 60px ;
					> div {
						position: relative;
						margin: 0 50px;
						-webkit-box-shadow: 0px 6px 3px 0px #252424;
						box-shadow: 0px 6px 3px 0px #252424;
						-webkit-transition: all 500ms ease;
						-o-transition: all 500ms ease;
						transition: all 500ms ease;

						&:before {
							content:'';
							display: block;
							width: 0;
							height: 3px;
							background: $colorSec;
							bottom: -3px;
							position: absolute;
							-webkit-transition: all 500ms;
							-o-transition: all 500ms;
							transition: all 500ms;
						}
						&:hover:before {
							width: 100%;
						}
						& {
							&:before {
								left:50%;
							}
							&:hover:before{
								left: 0;
							}
						}


						&:hover {
							img {
								
							}
							> div {
								background: rgba(50,73,97,.7);
								opacity: 1;
							}
						}
						> img {
							opacity: 0.9;
							background: $colorTrans;
							width: 350px;
							-webkit-border-radius: 1px;
							border-radius: 1px;

						}
						

						div {
							position: absolute;
							height: 100%;
							bottom: 0px;
							opacity: 0;
							display: -webkit-box;
							display: -webkit-flex;
							display: -ms-flexbox;
							display: flex;
							-webkit-flex-wrap: wrap;
							-ms-flex-wrap: wrap;
							flex-wrap: wrap;
							-webkit-box-pack: center;
							-webkit-justify-content: center;
							-ms-flex-pack: center;
							justify-content: center;
							-webkit-transition: all 500ms ease;
							-o-transition: all 500ms ease;
							transition: all 500ms ease;
							
							p {
								text-align: center;
								color:white;
								font-size: 20px;
								&:before {
									content:'';
									white-space: pre;
								}
							}

							a {
								text-decoration: none;
								height: 40px;
								color:white;
								&:hover{
									color:white;
									cursor: pointer;
								}
							}
						}

						
					}
				}
				img.mvI , img.mvD {
					width: 60px;
					-webkit-transition: all 500ms ease;
					-o-transition: all 500ms ease;
					transition: all 500ms ease;

					height: 60px;

					-webkit-border-radius: 50px;

					border-radius: 50px;

					&:hover {
						cursor:pointer;
						background: #555555;
					}
				}
			}
		}


		/*
		Contenedor slider 
		*/

		.sinEfecto {
			opacity: 0;
			-webkit-transition: 500ms ease;
			-o-transition: 500ms ease;
			transition: 500ms ease;
		}


		.efecto {
			opacity: 1;
			-webkit-transition: 1000ms ease;
			-o-transition: 1000ms ease;
			transition: 1000ms ease;
		}


		.slidertrue {
			width: 80%;
			margin: 0 auto 50% auto;
			> div {
				position: relative;
				img {
					width: 100%;
					position: absolute;
					outline: 5px solid $colorSec;
				}
				a {
					margin: 0 auto;
					position: absolute;
					margin: 0 auto;
					z-index: 100;
					width: 50%;
					outline: 1px solid;
					top: 20px;
				}
			}

		}


		/*
		Baraja y cartas
		*/
		div.card {
			margin: 20px 0;
			position: relative;
			img {
				width: 100%;
				opacity: 0.90;
				transition: all 500ms ease;
			}
			> div {
				height: 100%;
				left: 10%;
				position: absolute;
				display: flex;
				flex-direction: column;
				align-items: center;
				h3 {
					color: white;
				}
				a {
					display: block;
					padding: 10px 20px;
				}
			}

			&:hover {
				img {
					opacity: 1;
				}
			}
		}



		div.comentarios {
			display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-flex-direction: row;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    -webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		    justify-content: space-around;
		    -webkit-align-content: center;
		    -ms-flex-line-pack: center;
		    align-content: center;
		    -webkit-align-items: flex-start;
		    -ms-flex-align: start;
		    align-items: flex-start;
		    border:1px dotted grey;
    		border-radius: 5px;
    		padding: 10px;
		    div {
		    	margin: 10px 10px;
		    	max-width: 400px;
		    	max-height: 400px;
		    	align-self: auto;
		    	box-shadow:1px 1px 5px 2px grey;
		    	padding: 10px;
		    	&:hover {
		    		box-shadow:3px 1px 5px 2px grey;
		    	}
		    }

		    div.comentario {
		    	text-align: center;
		    	font-style: oblique;
		    }
    	}

    	

    	
		


		/*
		Footer
		*/

		footer {
			position: relative;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			background:rgba(0,0,0,0.9);
			border:0px solid;
			-webkit-border-radius: 1px;
			border-radius: 1px;
			border-top: 6px solid #1A1E66;
			-webkit-box-shadow: 0px 6px 3px 0px #252424;
			box-shadow: 0px 6px 3px 0px #252424;
			position: relative;
			-webkit-flex-basis: unset;
			-ms-flex-preferred-size: unset;
			flex-basis: unset;
			padding: 100px 100px;
			margin: 0px 0;
			div.footer-pad {
				margin: 0px 5%;
			}

			div.secciones {
				display: flex;
				justify-content: space-around;
				color:	$colorSec;
				font-size: 100%;
				h2 {
					color: white;
				}

				ul li {
					a {
						display: block;
						padding: 10% 0px;
					}
				}
			}
			
			div.reglas {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-justify-content: space-around;
				-ms-flex-pack: distribute;
				justify-content: space-around;
				color:white;
				a {
					text-decoration: none;
					color:white;

					&:hover {
						text-decoration:underline;
					}

					&:nth-of-type(4){
						font-size:15px;
					}


				}
			}


			div.subir {
				background: $colorTrans;
				position: absolute;
				bottom: 20%;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-align-self: flex-end;
				-ms-flex-item-align: end;
				align-self: flex-end;
				border:0px solid;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
				padding: 5px;
				img {
					-webkit-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					transform: rotate(-90deg);
					width: 60px;
					height: 60px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
				}
				&:hover {
					cursor: pointer;
					background: rgba(0,0,0,1);
				}
			}

		}



	}
}

/*
Reglas media
*/

@media screen and (max-width: 550px) {
	div.carrito *{
		display: none;
	}
	div.logo  {
		font-size: 50%;
	}
	div.bienvenida {
		font-size: 60%;
	}
	div.cerrar {
		width: 300%;
	}
	section {
		margin-top: 15pc;
	}

	div.titulo * {
		font-size: 80%;
	}

	

	div.comentario {
		width: 500%;
	}
	div.comentarios *{
		font-size: 	100%;
	}
	div.secciones * {
		font-size: 100%;
	}

	div.segDiv  {
		display: none;
	}

	div.menu {
		width: 60%;
		right: -70%;
	}

}